{% extends 'menu/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
    <p>Гиви родился и вырос в маленькой деревушке на склоне горы Адиши. Гиви всегда был заводилой среди друзей, а их у него было не мало. А все потому, что звонкий смех и веселые истории нашего героя не умолкали никогда!</p>

<p>У Гиви и его друзей была традиция, каждую пятницу, они собирались у подножья горы, разводили огромный костёр и с веселыми песнями и шутками, устраивали пир!</p>

    <p>Пряный запах специй и аромат жаренного мяса мигом разносился по всей деревне, как бы приглашая всех в гости! А Гиви и его компания были рады всем!</p>

    <p>«Гамарджоба генацвале!» дружно кричали они приходящим гостям!</p>

    <p>Каждому кто желал присоединиться к ним, они подносили блюдо сочного жаренного мяса, щедро пропитанного пряностями и бокал настоящего грузинского вина! Но взамен, Гиви требовал петь песни, танцевать, веселиться и шутить!</p>

    <p>Нам посчастливилось побывать на этом веселом празднике!</p>

    <p>И сидя у костра, Гиви поведал нам свою историю, о том, как же у него получается готовить такие вкусные угощения...</p>

    <p>Когда Гиви был маленьким мальчиком, каждое утро он просыпался от запаха дрожжей и жаренного сыра, который, казалось, щекотал его нос. Он знал-бабо готовит свои фирменные хачапури, а это значит, что пора вставать. Гиви был самым главным помощником на кухне у своей любимой бабо, за что она его называла ласково «Гивико». И каждый раз, когда они начинали готовить, бабушка спрашивала: «Чем сегодня, Гивико, будет угощать?». И в этот же момент юный мальчуган пулей летел на чердак, где бабо бережно хранила свой старый сундук, в котором лежали настоящие сокровища! Рецепты, накопленные годами, собранные с любовью и трепетом. Открыв скрипучую крышку сундука, Гивико доставал свиток очередного шедевра кулинарного искусства, и с ним бежал обратно на кухню, радостно размахивая им над головой.</p>

    <p>«Когда я вырасту,»- говорил Гиви- «я обязательно открою ресторан для тебя, бабо!»</p>

    <p>Бабо улыбаясь отвечала- «Конечно откроешь! И назовёшь его «Гивико», чтобы ты не забывал, свою любимую бабушку!»</p>

    <p>И это были самые прекрасные воспоминания из его детства!</p>

    <p>А уйти от костра с пустыми руками, было невозможно! В холщовом мешке каждый гость получал гостинец в виде горячего хачапури, по рецепту бабушки Гиви и дружественного послания, которое оставалось на память на долгие годы.</p>

    <p>Приехав обратно, нам захотелось поделиться со всеми историей Гиви, блюдами, приготовленными по рецепту его любимой бабушки, и той радостью и весельем которые, он нам подарил!</p>

    <p>Нам безумно захотелось выполнить обещание маленького мальчика, данного им его любимой бабо!</p>

    <p>Мы привезли историю Гивико, сокровища его бабушки, радость и веселье, что подарил нам праздник у костра и хотим поделиться всем этим с Вами!</p>

    <p>У нас царят грузинское гостеприимство, запах специй, мяса, дрожжей и жаренного сыра, так же, как каждое утро в детстве Гиви!</p>

<p>Приглашаем Вас посетить весёлую Грузию Гивико!</p>
{% endblock %}